.menu {
  background-color: hsl(180, 70%, 78%);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  padding-right: 0;
  padding-bottom: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow-y: scroll;
  position: relative;
}

.name {
  font-weight: 700;
  font-size: 1.1rem;
}

.menu-section {
  background-color: rgb(255, 255, 255, 1);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  padding: 10px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.menu-button {
  background: rgb(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  padding: 8px;
  transition: background-color 100ms ease-in-out;
}

.menu-button :not(button) {
  font-size: 0.9rem;
}

.menu-button:hover {
  background-color: rgba(0, 212, 212, 0.534);
}

.menu-button.active {
  background-color: rgb(0, 212, 212);
  font-weight: 700;
}

.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.apply-button {
  background: none;
  border: none;
  font-weight: 700;
  color: rgb(0, 116, 116);
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 1rem;
  margin-top: -3px;
}

.apply-button:hover {
  color: rgb(0, 0, 0);
}

.menu-caption {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.rah-static--height-zero {
  margin-top: -5px;
}

.key {
  font-weight: 700;
  font-size: 80% !important;
  border: 1px black solid;
  border-radius: 5px;
  padding: 1px 4px;
  margin: 0 2px;
}

h3 {
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

h5 {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
  font-variant: small-caps;
  text-transform: lowercase;
}

.shortcut-key {
  position: absolute;
  color: rgb(0, 0, 0, 0.8);
  border-color: rgb(0, 0, 0, 0.8);
}

input {
  flex: 1;
  padding: 5px 10px;
  border: 1px rgba(0, 0, 0, 0.3) solid;
  border-radius: 10px;
}

.center {
  text-align: center;
}

header {
  text-align: center;
}

h1 {
  margin: 15px 0;
  font-weight: 900;
}

.menu::-webkit-scrollbar {
  width: 18px;
}

.menu::-webkit-scrollbar-track {
  background-color: transparent;
}

.menu::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.menu::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
