.App {
  height: 100%;
  display: grid;
  grid: 1fr / 350px 1fr;
  grid-template-areas: 'menu canvas-container';
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  image-rendering: pixelated;
}

.alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(216, 0, 0);
  color: white;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  pointer-events: none;

  display: flex;
  align-items: center;
  gap: 10px;
}

.alert-icon {
  font-size: 1.6rem;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.alert.show {
  opacity: 1;
  pointer-events: initial;
}
